{
    "OwnIP": "localhost:9090",
    "MongoDatabase": "sportan",
    "MongoHost": "mongodb://localhost:27017",
    "InfluxUser": "sportan",
    "InfluxPass": "pass",
    "InfluxDatabase": "sportan",
    "InfluxHost": "http://localhost:8086"
}
